.logo-head {
    color: #00AEEF;
    display: flex;
    align-items: center;
}

.icon-logo {
    width: 70px;
    height: 70px;
}

.title-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.name-company {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Rubik Mono One';
}

.logo-text {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.16em;
    margin-top: 4px;
}

.line {
    width: 240px;
    height: 1px;
    background-color: #00AEEF;
}