.logo-head {
    color: #00AEEF;
    display: flex;
    align-items: center;
}

.icon-logo {
    width: 70px;
    height: 70px;
}

.title-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.name-company {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Rubik Mono One';
}

.logo-text {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.16em;
    margin-top: 4px;
}

.line {
    width: 240px;
    height: 1px;
    background-color: #00AEEF;
}

.my-cart, .produce-title, .pantry-items {
    width: 100%;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.16em;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.my-cart {
    background: linear-gradient(90deg, #00AEEF 0%, #C8F4F7 100%);
}

.produce-title {
    background-color: #FBB500;
    margin-top: 24px;
}

.pantry-items {
    background-color: #FB6900;
    margin-top: 16px;
}

.item-list {
    margin: 0 16px;
}

.item {
    margin: 4px 4px
}